body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.container {
    padding: 0px 20%;
}

.header, .footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    height: 72px;
    display: flex;
    align-items: center;

}

.footer {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing {
    background-color: #1F2937;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 128px;
    
}

.landing-text {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.img-holder {
    height: 250px;
    width: 1000px;
    background-color: grey;
    text-align: center;
    line-height: 125px;
    font-size: 18px;
}

span {
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
    color: #E5E7EB;
}


.push-right {
    margin-left: auto;

}
.landing, .quote, .signup {
    flex: 1 1 auto;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.info-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
}

.main-info-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 64px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.info-img {
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 16px;
}

.info-text {
    text-align: center;
    color: #1F2937;
    
}

.quote {
    background-color: #E5E7EB;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text, .quote-author {
    padding: 0 15%;

}
.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-author {
    margin-left: auto;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    margin-top: 60px;
}

.signup-banner {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-main-container {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 10%;
    gap: 200px;

}


.signup-text-container {
    display: flex;
    flex-direction: column;
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 24px;
}

.signup-text {
    margin: 0px;
}

.signup-button {
    font-size: 16px;
    padding: 8px 20px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 12px;
    margin: auto;
}

.signup {
    padding: 8px 20px;
    margin-right: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: 0px;
    border-radius: 12px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 24px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    margin-bottom: 24px;
}

